* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.date{ 
    font-family: "Playfair Display", serif;
}

.titulo{
    font-family: "Playfair Display", serif;
    font-weight: 500;
}

body {
    overflow-x: hidden;
    background-color: #FFF9EF;
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

.seccion {
    margin-top: 200px;
    margin-bottom: 200px;
}

.main,
.retrato,
.detalles,
.footer {
    text-align: center;
}













/* ============================== Header ============================== */
.header {
    display: flex;
    justify-content: space-evenly;
}

.header__img {
    position: relative;
}

.boda-img {
    width: 400px;
    height: 550px;
}

.florecita {
    position: absolute; 
    width: 350px;
    height: 350px;
    top: 61%;
    left: -35%;
}

.header > .florecita {
    position: absolute;
    width: 700px;
    height: 590px;
    left: 72%;
    top: 40px;
}

.header__date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 74px 60px 74px 10px;
}
/* ============================== Header ============================== */

























/* ============================== Square ============================== */
.square{
    position: relative;
    width: 290px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square i
{
   position: absolute;
   inset: 0;
   border: 2px solid #fff;
   transition: 0.5s;
   border-radius: 50%;
}

.square i:nth-child(1)
{
    animation: animate 10s linear infinite;
}

.square i:nth-child(2)
{
    animation: animate  7s linear infinite;
    top: 10px;
}

.square i:nth-child(3)
{
    animation: animate  6s linear infinite;
    top: -8px;
    right: -7px;
}

.square i:nth-child(4)
{
    animation: animate 13s linear infinite;
    top: -17px;
    right: 3px;
}

.square i
{
 border: 1px solid var(--clr);
 filter: drop-shadow(0 0 20px var(--clr));
}

@keyframes animate
{
    0%
    {
        transform:rotate(0deg);

    }
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes animate2
{
    0%
    {
        transform:rotate(360deg);

    }
    100%
    {
        transform: rotate(0deg);
    }
}
/* ============================== Square ============================== */










/* ============================== Countdown ============================== */
.countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.8);
    gap: 32px;
}

.countdown p {
    font-size: 30px;
    margin-top: 0;
}

.countdown svg {
    width: 26px;
}

.countdown div {
    display: flex;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.time h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    margin: 0 0 5px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
/* ============================== Countdown ============================== */










/* ============================== 1ra parte main ============================== */
.frase {
    font-size: 28px;
    margin: 27px 0 300px 180px;
    font-family: "Carattere", cursive;
    font-weight: lighter;
}

.informacion {
    display: flex;
    justify-content: center;
    gap: 210px;
}

.informacion section {
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    border-radius: 10px;
    font-size: 35px;
    position: relative;
}

.informacion section .flor {
    position: absolute;
    z-index: -1;
    top: -60%;
    left: -140px;
    width: 590px;
}

.informacion section,
.informacion a,
.card {
    background-color: #BFBA7C;
}

.informacion a {
    color: black;
    padding: 5px 15px;
    border-radius: 8px;
    border-color: var(--crema);
    text-decoration: none;
    font-size: 30px;
    font-family: 'Carattere';
}

.informacion a:hover{
    background-color: #FFF9EF;
    border: 1px black;

}

.container-uno-p1 {
    margin-top: 10px;
    font-size: 37px;
    font-family: 'Carattere';
}

.container-uno-p2 {
    font-size: 25px;
    font-family: 'Playfair Display';
}

.horario{
    font-size: 28px;
    margin-top: 4px;
}

.hora-evento {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.hora-evento p:nth-child(1)::after {
    content: "|";
}
/* ============================== 1ra parte main ============================== */

















/* ============================== Seccion imagenes boda ============================== */
.photo{
   font-family: 'Playfair Display';
}


.instagram__container {
    padding-block: 1rem;
    overflow: hidden;
    margin-top: 50px
}

.instagram__flex {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 30px;
  
    animation: scroll 40s linear infinite;
}

.instagram__flex img {
    max-width: 300px;
    box-shadow: 0 6px 8px rgba(27, 25, 25, 0.1);
}

@keyframes scroll {
    to {
      transform: translateX(calc(-50% - 5px));
    }
}

@media (width > 500px) {
    .instagram__flex img {
      max-width: 180px;
    }
}

@media (width > 768px) {
    .instagram__flex img {
      max-width: 250px;
    }
} 

.title-photo{
    font-family: 'Carattere';
    font-weight: lighter;
}
/* ============================== Seccion imagenes boda ============================== */


























/* ============================== Cards ============================== */
.title-dress{
    font-family: 'Carattere';
    font-weight: lighter;
}

.dress{
    font-family: 'Carattere';
    font-weight: lighter;
    font-size: 22px;
}


.gifts{
    font-family: 'Carattere';
    font-weight: lighter;
    font-size: 25px;
}


.detalles h2 {
    margin-bottom: 50px;
}

.cards-detalles {
    display: flex;
    justify-content: space-between;
}
.card {
    border-radius: 15px;
    box-shadow: 0 6px 8px rgba(27, 25, 25, 0.1);
    padding: 25px 15px;
    width: 280px;
}
.vestidos img {
    width: 150px;
}
.sobre img {
    width: 80px;
}

.title-song {
    margin-bottom: 18px;
    font-family: 'Carattere';
    font-size: 21px;
    font-weight: lighter;
}

.cancion {
    margin-bottom: -75px;
 
}
.cancion img {
    width: 64px;
    margin-bottom: 88px;
}

.card-button{
    background-color: #FFF9EF;
    border-radius: 5px;
    margin-top: 8px;
    padding: 4px;
    font-family: 'Playfair Display';
    border: 1px solid black
}


.get-name{
    border-radius: 4px;
}
/* ============================== Cards ============================== */









/* ============================== Confirmar asistencia ============================== */
.confirmar-asistencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.confirmar-asistencia input {
    width: 48%;
    height: 32px;
    text-align: center;
}

.confirmar-asistencia button {
    background-color: #BFBA7C;
    padding: 8px 20px;
    border: none;
    border-radius: 12px;
}

.confirmar-asistencia button:hover {
    background-color: #a5a067;
    cursor: pointer;
}
/* ============================== Confirmar asistencia ============================== */













/* ============================== Footer ============================== */
.footer {
    margin-top: 100px;
    background-color: #f2f2f2;
    padding: 60px 0;
}
/* ============================== Footer ============================== */















/* ============================== MQ ============================== */
/* 870 */

@media (max-width: 876px) {
    .cards-detalles {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .title-dress {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .photo{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 700px) {
    .header {
        position: absolute;
        background-image: url('./img/M&A-373.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.5);
    }
    header::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .boda-img {
        display: none;
    }
    .header__img .florecita,
    .header > .florecita {
        display: none;
    }
    .header__date {
        margin: 0;
        margin-bottom: -124px;
        z-index: 1;
        width: 100%;
    }
    .header__date-text {
        margin-top: 350px;
        font-size: 24px;
        color: white;
    }
    .square {
        width: 220px;
        height: 220px;
    }
    .countdown {
        transform: scale(1.5);
        gap: 8px;
    }
    .countdown p {
        font-size: 16px;
    }
    .countdown svg {
        width: 16px;
    }
    .time {
        margin: 5px;
    }
    .time h2 {
        font-size: 12px;
        width: 25px;
        height: 25px;
    }
    .time small {
        font-size: 8px;
    }

    .main {
        margin-top: 800px;
    }

    .frase {
        position: relative;
        margin: 27px 0 210px 0;
        padding-top: 20vh;
        padding-left: 5px;
        padding-right: 5px;
    }

    .informacion {
        flex-direction: column;
    }

    .informacion section {
        font-size: 18px;
        width: 220px;
    }

    .informacion section .flor {
        position: absolute;
        z-index: -1;
        top: -60%;
        left: -160px;
        width: 630px;
        top: -74px;
        left: -92px;
        width: 400px;
    }

    .container-uno-p1 {
        font-size: 34px;
        margin: 40px 0 6px 0;
    }

    .confirmar-asistencia input {
        width: 90%;
    }
    
    .confirmar-asistencia button {
        width: 90%;
    }
}
/* ============================== MQ ============================== */


.final{
    font-family: "Carattere", cursive;
    font-size: 25px;
}